<div id="provider<%= provider.id %>">
<table>
  <%= view_row provider, :start_service %>
  <%= view_row provider, :end_service %>
  <%= render :partial => '/person_names/show', :locals => {:person_name => provider.person_name}%>
  <%= view_row provider, :provider_role %>
  <%= view_row provider, :provider_role_free_text %>
  <%= view_row provider, :provider_type %>
  <%= render :partial => '/addresses/show', :locals => {:address => provider.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => provider.telecom}%>
  <%= view_row provider, :organization %>
  <%= view_row provider, :patient_identifier %>
  <% if @patient.editable_by? current_user -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
      <%= link_to_remote 'Edit',
        :update => {:success => "provider#{provider.id}"},
        :url => edit_patient_provider_path(patient, provider),
        :method => 'get' %>
      <%= link_to_remote 'Remove',
        :update => {:success => "provider#{provider.id}" },
        :url => patient_provider_path(patient, provider),
        :confirm => 'Are you sure you wish to remove this healthcare provider?',
        :method => 'delete' %>
    </td>
  </tr>
  <% end -%>
</table>
</div>
