<% if @provider.new_record?
     provider_div = 'providerNew' -%>
<div id="providerNew">
<% else
     provider_div = "provider#{@provider.id}"
   end %>
<% patient_form_for([@patient, @provider], :update => provider_div) do |f| -%>
  <table>
    <%= f.calendar_date_select :start_service %>
    <%= f.calendar_date_select :end_service %>
    <%= f.person_name_fields %>
    <%= f.select :provider_type_id, ProviderType.select_options,
      {:include_blank => true} %>
      <%= f.select :provider_role_id, ProviderRole.select_options,
        {:include_blank => true} %>
    <%= f.text_field :provider_role_free_text %>
    <%= f.address_fields %>
    <%= f.telecom_fields %>
    <%= f.text_field :organization %>
    <%= f.text_field :patient_identifier %>
    <%= f.submit("Save") %>
  </table>
<% end %>
<% if @provider.new_record? -%>
</div>
<% end -%>
