<table>
  <%= view_row condition, :start_event %>
  <%= view_row condition, :end_event %>
  <%= view_row condition, :problem_type %>
  <%= view_row condition, :free_text_name %>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td></td>
      <td>
        <%= link_to_remote 'Edit',
          :update => {:success => "condition#{condition.id}"},
          :url => edit_patient_condition_path(patient, condition),
          :method => 'get' %>
        <%= link_to_remote 'Remove',
          :update => {:success => "condition#{condition.id}"},
          :url => patient_condition_path(patient, condition),
          :confirm=>"Are you sure you wish to remove this condition?",
          :method => 'delete' %>
      </td>
    </tr>
  <% end -%>
</table>
