<h5>Information Source (Required)</h5>
<% if information_source -%>
<table>
  <%= view_row information_source, :time %>
  <%= render :partial => '/person_names/show', :locals => {:person_name => information_source.person_name}%>
  <%= view_row information_source, :document_id %>
  <%= view_row information_source, :organization_name %>
</table>
  <% if patient.editable_by? current_user -%>
    <div class="controls">
        <%= link_to_remote 'Edit',
          :update => {:success => 'informationSourceContainer'}, 
          :url => edit_patient_information_source_path(patient),
          :method => 'get' %>
        <%= link_to_remote 'Remove',
          :update => {:success => 'informationSourceContainer'}, 
          :url => patient_information_source_path(patient),
          :confirm => 'Are you sure you wish to remove this information source?',
          :method => 'delete' %>
    </div>
  <% end -%>
<% elsif patient.editable_by? current_user -%>
  <div class="controls">
    There is no information source data for this test case.
    <%= link_to_remote 'Create an Information Source.',
      :update => {:success => 'informationSourceContainer'},
      :url => new_patient_information_source_path(patient), 
      :method => 'get' %>
  </div>
<% end -%>
