<!-- Start Information Source Module -->
<% patient_form_for(@information_source, :url => patient_information_source_path(@patient),
                   :update => 'informationSourceContainer') do |f| %>
<h5>Information Source (Required)</h5>
<table>
  <%= f.calendar_date_select :time %>
  <%= f.person_name_fields %>
  <%= f.text_field :document_id, :onfocus => "Effect.BlindDown('uuid-#{controller.class}');", :onblur => "Effect.BlindUp('uuid-#{controller.class}');" %>
  <tr><td colspan="2">
      <%= render :partial => '/layouts/uuid_help_text',
        :locals => { :is_vital_sign => false } %>
  </td></tr>
  <%= f.text_field :organization_name %>
  <%= f.submit("Save") %>
</table>
<% end %>
