<h3>XDS Provide and Register Assignment Successful</h3>

<dl>

<% @metadata['source_patient_info'].each do |k, v| -%>
  <% next if k == 'source_patient_identifier' -%>
  <dt><%=h k.humanize %><dt>
  <dd><%=h v %><dd>
<% end -%>

<% @metadata.each do |k, v| -%>
  <% next if %w[ author source_patient_info ].include? k -%>
  <dt><%=h k.humanize %><dt>
  <dd><%=h v %><dd>
<% end -%>

</dl>

<%= link_to "Continue", vendor_test_plans_path %>

