<h2>XDS Query Results</h2>
<table>
  <tr>
    <th>Author Name</th>
    <th>Format</th>
    <th>Document Id</th>
    <th>Creation Time</th>
    <th></th>
  </tr>
  <% @metadata.each do |md| %>
    <tr>
      <td><%= md.author.person %></td>
      <td><%= md.format_code.display_name %></td>
      <td><%= md.unique_id %></td>
      <td><%= md.creation_time %></td>
      <td>
        <a href="javascript:toggle_div('assignment_div_<%= md.unique_id %>');">assign</a>
      </td>
    </tr>
    <tr><td colspan="5">
      <div id="assignment_div_<%= md.unique_id %>" style="display:none" >
        <% form_for VendorTestPlan.new(:kind => @kind, :user => current_user), :method => 'post' do |f| -%>
          <%= hidden_field_tag :patient_id, @patient_identifier.patient.id %>
          <%= hidden_field_tag :metadata,   md.to_yaml %>
          <%= f.select :vendor_id, Vendor.select_options(@vendors) %><br/>
          <%= f.hidden_field :kind_id %>
          <% if current_user.administrator? -%>
            <%= f.select :user_id, User.select_options %>
          <% end -%>
          <p/>
          <%= submit_tag "Assign #{@kind.display_name}" %>
        <% end -%>
      </div>
    </td></tr>
  <% end -%>
</table>


