<% if @insurance_provider.new_record?
     insurance_provider_div = 'insurance_providerNew' -%>
<div id="insurance_providerNew">
<% else
     insurance_provider_div = "insurance_provider#{@insurance_provider.id}"
   end %>
<% patient_form_for([@patient, @insurance_provider], :update => insurance_provider_div) do |f| -%>
<table>
   <%= f.text_field :represented_organization %>
   <%= f.text_field :group_number %>
   <%= f.select :insurance_type_id, InsuranceType.select_options, {:include_blank => true} %>
   <%= f.text_field :health_plan %>
   <%= f.select :role_class_relationship_formal_type_id, 
         RoleClassRelationshipFormalType.select_options %>
   <%= f.submit "Save" %>
</table>
<% end %>
<% unless @insurance_provider.new_record? -%>
  <div id="insurance_provider_patient<%= @insurance_provider.insurance_provider_patient.id %>">
    <%= render :partial => '/insurance_provider_patients/show', 
               :locals => {:insurance_provider_patient => @insurance_provider.insurance_provider_patient,
                           :patient => @patient} %>
  </div>
  <div id="insurance_provider_subscriber<%= @insurance_provider.insurance_provider_subscriber.id %>">
    <%= render :partial => '/insurance_provider_subscribers/show', 
               :locals => {:insurance_provider_subscriber => @insurance_provider.insurance_provider_subscriber,
                           :patient => @patient} %>
  </div>
  <div id="insurance_provider_guarantor<%= @insurance_provider.insurance_provider_guarantor.id %>">
    <%= render :partial => '/insurance_provider_guarantors/show', 
               :locals => {:insurance_provider_guarantor => @insurance_provider.insurance_provider_guarantor,
                           :patient => @patient} %>
  </div>
<% end -%>
