<table>
  <tr class="<%= cycle_row %>">
    <th colspan="2" class="lighttext">Patient</th>
  </tr>
  <%= view_row insurance_provider_patient , :member_id %>
  <%= view_row insurance_provider_patient , :start_coverage_date %>
  <%= view_row insurance_provider_patient , :end_coverage_date %>
  <%= render :partial => '/person_names/show', :locals => {:person_name => insurance_provider_patient.person_name}%>
  <%= view_row insurance_provider_patient , :date_of_birth %>
  <%= render :partial => '/addresses/show', :locals => {:address => insurance_provider_patient.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => insurance_provider_patient.telecom}%>
</table>
  <% if patient.editable_by? current_user -%>
    <div class="controls">
        <%= link_to_remote('Edit',
          :update => {:success => "insurance_provider_patient#{insurance_provider_patient.id}"},
          :url => edit_patient_insurance_provider_patient_path(patient, insurance_provider_patient),
          :method => 'get') unless insurance_provider_patient.new_record? %>
    </div>
  <% end -%>
