<!-- Start Personal Information Module -->
<% patient_form_for(@registration_information, :url => patient_registration_information_path(@patient),
                   :update => 'registrationInformationContainer' ) do |f| %>
<h5>Person Information (Required)</h5>
<table>
  <%= f.calendar_date_select :document_timestamp %>
   <%= f.collection_select :affinity_domain_id, @patient.patient_identifiers, 'id', 'identifier_and_domain' %>
  <%= f.person_name_fields %>

  <tr class="spacer"><td></td><td></td></tr>

  <%= f.select :gender_id, Gender.select_options %>

  <%= f.calendar_date_select :date_of_birth %>

  <%= f.select :marital_status_id, MaritalStatus.select_options, {:include_blank => true} %>

   <%= f.select :religion_id, Religion.select_options, {:include_blank => true} %>

  <%= f.select :race_id, Race.select_options, {:include_blank => true} %>
  <%= f.select :ethnicity_id, Ethnicity.select_options, {:include_blank => true} %>
  <tr class="spacer"><td></td><td></td></tr>
  <%= f.address_fields %>
  <%= f.telecom_fields %>
  <%= f.submit("Save") %>
  <%= f.table_controls(link_to_function('Cancel', %{
        new Ajax.Updater('registrationInformationContainer',
          '#{patient_registration_information_url(@patient)}',
          {method:'get'})
      })) %>
</table>
<!-- End Personal Information Module -->
<% end %>
