<table>
  <%= view_row language, :iso_language %>
  <%= view_row language, :iso_country %>
  <%= view_row language, :language_ability_mode %>
  <%= view_row language, :preference %>
</table>
<% if @patient.editable_by? current_user -%>
  <div class="controls">
    <%= link_to_remote 'Edit', :update => "language#{language.id}",
                               :url => edit_patient_language_path(patient, language),
                               :method => 'get' %>
    <%= link_to_remote 'Remove', :update => "language#{language.id}",
                               :url => patient_language_path(patient, language),
                               :confirm => 'Are you sure you wish to remove this language?',
                               :method => 'delete' %>
  </div>
<% end -%>
