<table>
  <%= view_row language, :iso_language %>
  <%= view_row language, :iso_country %>
  <%= view_row language, :language_ability_mode %>
  <%= view_row language, :preference %>
<% if @patient.editable_by? current_user -%>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td></td>
  <td>
  <span>
    <%= link_to_remote 'Edit', :update => "language#{language.id}",
                               :url => edit_patient_language_path(patient, language),
                               :method => 'get' %>
    </span> 
    
   <span>
    <%= link_to_remote 'Remove', :update => "language#{language.id}",
                               :url => patient_language_path(patient, language),
                               :confirm => 'Are you sure you wish to remove this language?',
                               :method => 'delete' %>
    </span> 
  </td>
</tr>
<% end -%>
</table>
