<table>
  <%= view_row medication, :product_coded_display_name %>
  <%= view_row medication, :product_code %>
  <%= view_row medication, :code_system %>
  <%= view_row medication, :free_text_brand_name %>
  <%= view_row medication, :medication_type %>
  <%= view_row medication, :status %>
  <%= view_row medication, :quantity_ordered_value %>
  <%= view_row medication, :quantity_ordered_unit %>
  <%= view_row medication, :expiration_time %>
<% if @patient.editable_by? current_user -%>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td></td>
  <td>
      <%= link_to_remote 'Edit',
        :update => {:success => "medication#{medication.id}"},
        :url => edit_patient_medication_path(patient, medication),
        :method => 'get' %>
      <%= link_to_remote 'Remove',
        :update => {:success => "medication#{medication.id}"},
        :url => patient_medication_path(patient, medication),
        :confirm=>"Are you sure you wish to remove this medication?",
        :method => 'delete' %>
  </td>
</tr>
<% end -%>
</table>
