<% if @medication.new_record?
     medication_div = 'medicationNew' -%>
<div id="medicationNew">
<% else
     medication_div = "medication#{@medication.id}"
   end %>
<% patient_form_for([@patient, @medication], :update => medication_div) do |f| -%>
  <table>
    <%= f.text_field :product_coded_display_name %></td>
    <%= f.text_field :product_code %></td>
    <%= f.select :code_system_id, CodeSystem.medication_select_options, {:include_blank => true} %>
    <%= f.text_field :free_text_brand_name %></td>
    <%= f.select :medication_type_id, MedicationType.select_options, {:include_blank => true} %>
    <%= f.text_field :status %>
    <%= f.text_field :quantity_ordered_value %>
    <%= f.text_field :quantity_ordered_unit %>
    <%= f.calendar_date_select :expiration_time %>
    <%= f.submit("Save") %>
    <%= f.table_controls link_to_function('Cancel',
      @medication.new_record? ?
        %{ $('#{medication_div}').remove(); } :
        %{
          new Ajax.Updater('#{medication_div}',
            '#{patient_medication_url(@patient, @medication)}',
            {method:'get'})
        }) %>
  </table>
<% end -%>
<% if @medication.new_record? -%>
</div>
<% end -%>
