<% if @medical_equipment.new_record?
  medical_equipment_div = 'medicalEquipmentNew'  -%>
<div id="medicalEquipmentNew">
<% else
     medical_equipment_div = "medical_equipment#{@medical_equipment.id}"
   end %>
<% patient_form_for([@patient, @medical_equipment], :update => medical_equipment_div) do |f| -%>
<table>
  <%= f.text_field :name %>
  <%= f.text_field :code %>
  <%= f.text_field :supply_id %>
  <%= f.calendar_date_select :date_supplied %>
  <%= f.submit "Save" %>
  <%= f.table_controls link_to_function('Cancel',
      @medical_equipment.new_record? ?
        %{ $('#{medical_equipment_div}').remove(); } :
        %{
          new Ajax.Updater('#{medical_equipment_div}',
            '#{patient_medical_equipment_url(@patient, @medical_equipment)}',
            {method:'get'})
        }) %>
</table>
<% end %>
<% if @medical_equipment.new_record? -%>
</div>
<% end -%>
