<table>
  <%= view_row result, :result_id %>
  <%= view_row result, :result_date %>
  <%= view_row result, :code_system %>
  <%= view_row result, :result_code %>
  <%= view_row result, :result_code_display_name %>
  <%= view_row result, :status_code %>
  <%= view_row result, :value %>
  <%= view_row result, :organizer_id %>
  <%= view_row result, :act_status_code %>
  <%= view_row result, :result_type_code %>
</table>
<% if @patient.editable_by? current_user -%>
  <div class="controls">
    <%= link_to_remote 'Edit',
      :update => {:success => "#{result.class.name.underscore}#{result.id}"},
      :url => {:controller => result.class.name.tableize, :action => 'edit', :patient_id => patient, :id => result },
      :method => 'get' %>
    <%= link_to_remote 'Remove',
      :update => {:success => "#{result.class.name.underscore}#{result.id}"},
      :url => {:controller =>  result.class.name.tableize, :action => 'destroy', :patient_id => patient, :id => result },
      :confirm => "Are you sure you wish to remove this #{result.class.name.underscore.humanize.downcase}?",
      :method => 'delete' %>
  </div>
<% end -%>
