<% if @encounter.new_record?
  encounter_div = 'encounterNew' %>
  <div id="encounterNew">
<% else
  encounter_div = "encounter#{@encounter.id}"
end %>
<% patient_form_for([@patient, @encounter], :update => encounter_div) do |f| -%>
<table>
  <%= f.calendar_date_select :encounter_date %>
  <%= f.text_field :encounter_id, :onfocus => "Effect.BlindDown('uuid-#{controller.class}');", :onblur => "Effect.BlindUp('uuid-#{controller.class}');" %>
  <tr><td colspan="2">
    <em><%= render :partial => '/layouts/uuid_help_text' %></em>
  </td></tr>
    <%= f.text_field :free_text %>
    <%= f.text_field :name %>
    <%= f.select :encounter_type_id, EncounterType.select_options, {:include_blank => true} %>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <th colspan="2" class="lighttext">Provider</th>
  </tr>
  <%= f.person_name_fields %>
  <%= f.address_fields %>
  <%= f.telecom_fields %>
  <%= f.text_field :location_name %>
  <%= f.select :encounter_location_code_id, EncounterLocationCode.select_options, {:include_blank => true} %>
  <%= f.submit "Save" %>
</table>
<% end %>
<% if @encounter.new_record? -%>
</div>
<% end -%>
