<% @page_header = "Provide and Register C32 based on template for patient #{@patient.name}" %>
<% form_for VendorTestPlan.new(:user_id => current_user.id), :method => 'post' do |f| -%>
<%= hidden_field_tag 'patient_id', @patient.id %>
<%= hidden_field_tag 'vendor_test_plan[kind_id]', @kind.id %>
<table>
  <tr>
    <td>Inspection</td>
    <td><%= f.select :vendor_id, Vendor.select_options(@vendors) %></td>
  </tr>
  <br/>
  <% if current_user.administrator? -%>
    <tr>
      <td>User</td>
      <td><%= f.select :user_id, User.select_options %></td>
    </tr>
  <% end -%>
  <%= render :partial => 'testop/xds_provide_and_register/form' %>
  <tr>
    <td></td>
    <td><input type="submit" value="Assign"/> or <%=link_to 'Back', xds_patients_path %> </td>
  </tr>
</table>
<% end -%>
