<div id="patient-sidebar">
  <%= render :partial => 'template_info' %>
  <div id="modules">
    <h5>CCD/C32 Modules</h5>
    <ul>
      <% [
           ['Person Information', 'registrationInformationContainer'],
           ['Patient Identifiers', 'patientIdentifiersContainer'],
           ['Languages Spoken', 'languagesContainer'],
           ['Support', 'supportContainer'],
           ['Healthcare Providers', 'providersContainer'],
           ['Insurance Providers', 'insuranceProvidersContainer'],
           ['Allergy / Drug Sensitivity', 'allergiesContainer'],
           ['Conditions', 'conditionsContainer'],
           ['Medication', 'medicationsContainer'],
           ['Pregnancy', 'pregnancyContainer'],
           ['Information Source', 'informationSourceContainer'],
           ['Advance Directive', 'advanceDirectiveContainer'],
           ['Vital Signs', 'vitalSignsContainer'],
           ['Results', 'resultsContainer'],
           ['Immunizations', 'immunizationsContainer'],
           ['Encounters', 'encountersContainer'],
           ['Procedures', 'proceduresContainer'],
           ['Medical Equipment', 'medicalEquipmentsContainer'],
         ].each do |title, element| -%>
        <li class="<%= cycle_row %>">
          <%= link_to_module title, element %>
        </li>
      <% end -%>
      <li class="<%= cycle_row %> back">
        <%= link_to "Back to top of page", "#top" %>
      </li>
    </ul>
  </div>
</div>
<div id="patient-content">
  <div class="notice">
    <% unless @patient.test_plan %>
    You are editing a patient template record.  These edits will not affect data in patient records assigned to inspections
    <% else %>
      Your are editing a patient record for the <%=h @patient.test_plan.class.test_name %> test within the <%=h @patient.test_plan.vendor %> inspection only.  These edits will not affect the original patient template in the library.
    <% end %>
  </div>
  <div id="template">
    <%= show_child_module :registration_information %>
    <%= show_children_module :patient_identifiers %>
    <%= show_children_module :languages, 'Languages Spoken (Required)' %>
    <%= show_child_module :support %>
    <%= show_children_module :providers, 'Healthcare Provider' %>
    <%= show_children_module :insurance_providers %>
    <%= show_children_module :allergies, 'Allergy / Drug Sensitivity (Required)' %>
    <%= show_children_module :conditions, 'Conditions and Problems' %>
    <%= show_children_module :medications %>

    <!-- Start Pregnancy Module -->
    <div id="pregnancyContainer" class="module">
      <div id="pregnancy">
        <%= render :partial => '/pregnancies/show', :locals => {:patient => @patient} %>
      </div>
    </div> 
    <!-- End Pregnancy Module -->  

    <%= show_child_module :information_source %>
    <%= show_child_module :advance_directive %>
    <%= show_children_module :vital_signs, :table_name => 'results' %>
    <%= show_children_module :results %>
    <%= show_children_module :immunizations %>
    <%= show_children_module :encounters %>
    <%= show_children_module :procedures %>
    <%= show_children_module :medical_equipments, "Medical Equipment" %>
  </div>
</div>
