<!-- Start Advance Directive Module -->
<% patient_form_for(@advance_directive, :url => patient_advance_directive_path(@patient),
                   :update => 'advanceDirectiveContainer') do |f| %>
<h5>Advance Directive</h5>
<table>
      <%= f.select :advance_directive_type_id, AdvanceDirectiveType.select_options, {:include_blank => true} %>
  <%= f.text_field :free_text %>
  <%= f.calendar_date_select :start_effective_time %>
  <%= f.calendar_date_select :end_effective_time %>
  <%= f.person_name_fields %>
  <%= f.address_fields %>
  <%= f.telecom_fields %>
  <%= f.select :advance_directive_status_code_id, AdvanceDirectiveStatusCode.select_options %>
  <%= f.submit("Save") %>
</table>
<% end %>
