<table>
  <%= view_row allergy, :free_text_product %>
  <%= view_row allergy, :product_code %>
  <%= view_row allergy, :severity_term %>
  <%= view_row allergy, :adverse_event_type %>
  <%= view_row allergy, :start_event %>
  <%= view_row allergy, :end_event %>
  <%= view_row allergy, :allergy_status_code %>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td></td><td>
        <%= link_to_remote 'Edit',
          :update => {:success => "allergy#{allergy.id}"},
          :url => edit_patient_allergy_path(patient, allergy),
          :method => 'get' %>
        <%= link_to_remote 'Remove',
          :update => {:success => "allergy#{allergy.id}"},
          :url => patient_allergy_path(patient, allergy),
          :confirm=>"Are you sure you wish to remove this allergy?",
          :method => 'delete' %>
      </span></td>
    </tr>
  <% end -%>
</table>
