<% if @allergy.new_record?
     allergy_div = 'allergyNew' -%>
<div id="allergyNew">
<% else
     allergy_div = "allergy#{@allergy.id}"
   end %>
<% patient_form_for([@patient, @allergy], :update => allergy_div) do |f| -%>
  <table>
    <%= f.text_field :free_text_product %>
    <%= f.text_field :product_code %>
    <%= f.table_controls %{
      <dl>
        <dt>Laika</dt><dd>assumes RxNorm coding.</dd>
        <dt>HITSP</dt><dd>The product causing the adverse event SHALL be
        coded to UNII for Food and substance allergies or to RxNorm for 
        medications.</dd>
      </dl>
    } %>
    <%= f.select :code_system_id, CodeSystem.allergy_select_options %>
    <%= f.select :severity_term_id, SeverityTerm.select_options %>
    <%= f.select :adverse_event_type_id, AdverseEventType.select_options %>
    <%= f.calendar_date_select :start_event %>
    <%= f.calendar_date_select :end_event %>
    <%= f.select :allergy_status_code_id, AllergyStatusCode.select_options, {:include_blank => true} %>
    <%= f.submit("Save") %>
    <%= f.table_controls link_to_function('Cancel',
      @allergy.new_record? ?
        %{ $('#{allergy_div}').remove(); } :
        %{
          new Ajax.Updater('#{allergy_div}',
            '#{patient_allergy_url(@patient, @allergy)}',
            {method:'get'})
        }) %>
</table>
<% end %>
<% if @allergy.new_record? %>
</div>
<% end -%>
