<h5>Support (HITSP required)</h5>
<% patient_form_for(@support, :url => patient_support_path(@patient),
                   :update => 'supportContainer') do |f| %>
  <table>
    <%= f.calendar_date_select :start_support %>
    <%= f.calendar_date_select :end_support %>
    <%= f.select :contact_type_id, ContactType.select_options %>
    <%= f.select :relationship_id, Relationship.select_options, {:include_blank => true} %>
    <%= f.address_fields %>
    <%= f.telecom_fields %>
    <%= f.submit("Save") %>
  </table>
<% end %>


