<% if @procedure.new_record?
     procedure_div = 'procedureNew' -%>
<div id="procedureNew">
<% else
     procedure_div = "procedure#{@procedure.id}"
   end %>
   <% patient_form_for([@patient, @procedure], :update => procedure_div, :name => "procedures_form") do |f| -%>
<table>
  <%= f.text_field :procedure_id, :onfocus => "Effect.BlindDown('uuid-#{controller.class}');", :onblur => "Effect.BlindUp('uuid-#{controller.class}');" %>
  <tr><td colspan="2">
    <em><%= render :partial => '/layouts/uuid_help_text' %></em>
  </td></tr>
  <%= f.text_field :name %>
  <%= f.text_field :code %>
  <%= f.calendar_date_select :procedure_date %>
  <%= f.select :procedure_status_code_id, ProcedureStatusCode.select_options %>
	<%= f.submit "Save" %>
    <%= f.table_controls link_to_function('Cancel',
      @procedure.new_record? ?
        %{ $('#{procedure_div}').remove(); } :
        %{
          new Ajax.Updater('#{procedure_div}',
            '#{patient_procedure_url(@patient, @procedure)}',
            {method:'get'})
        }) %>
</table>
<% end %>
<% if @procedure.new_record? -%>
</div>
<% end -%>
