<table>
  <%= view_row immunization, :administration_date %>
  <%= view_row immunization, :vaccine %>
  <%= view_row immunization, :lot_number_text %>
  <%= view_row immunization, :refusal %>
  <%= view_row immunization, :no_immunization_reason %>
</table>
<% if patient.editable_by? current_user -%>
  <div class="controls">
    <%= link_to_remote 'Edit',
      :update => {:success => "immunization#{immunization.id}"},
      :url => edit_patient_immunization_path(patient, immunization),
      :method => 'get' %>
    <%= link_to_remote 'Remove',
      :update => {:success => "immunization#{immunization.id}"},
      :url => patient_immunization_path(patient, immunization),
      :confirm=>"Are you sure you wish to remove this immunization?",
      :method => 'delete' %>
  </div>
<% end -%>
