<% if @immunization.new_record?
  immunization_div = 'immunizationNew' -%>
<div id="immunizationNew">
<% else
     immunization_div = "immunization#{@immunization.id}"
   end %>
   <% patient_form_for([@patient, @immunization], :update => immunization_div) do |f| -%>

<table>
  <%= f.calendar_date_select :administration_date %>
  <%= f.select :vaccine_id, Vaccine.select_options, {:include_blank => true} %>
  <%= f.text_field :lot_number_text %></td>
  <%= f.check_box :refusal %>
  <%= f.select :no_immunization_reason_id, NoImmunizationReason.select_options, {:include_blank => true} %>
  <%= f.submit "Save" %>
</table>
<% end %>
