<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <th colspan="2" class="lighttext">Guarantor Information</th>
  </tr>
  <%= render :partial => '/person_names/show', :locals => {:person_name => insurance_provider_guarantor.person_name}%>
  <%= view_row insurance_provider_guarantor, :effective_date %>
  <%= render :partial => '/addresses/show', :locals => {:address => insurance_provider_guarantor.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => insurance_provider_guarantor.telecom}%>
</table>
  <% if patient.editable_by? current_user -%>
    <div class="controls">
        <%= link_to_remote('Edit',
          :update => {:success => "insurance_provider_guarantor#{insurance_provider_guarantor.id}"},
          :url => edit_patient_insurance_provider_guarantor_path(patient, insurance_provider_guarantor),
          :method => 'get') unless insurance_provider_guarantor.new_record? %>
    </div>
  <% end -%>
